<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - p2lix_site</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/p2lix_site.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/img/logo p2lix ii p.png" />
</head>
<body>
    <header>
        <nav class="navbar is-fixed-top is-spaced has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="has-text-info navbar-item">
                    <img src="~/img/logop2lixcreativeiinv.png" />
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>                
            </div>
            <div class="navbar-menu" id="menu">
                <div class="navbar-end">
                    <a class="navbar-item tr_link">A propos de P2Lix Creative</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link tr_link">
                            Services
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">Graphic Design</a>
                            <a class="navbar-item">TechUp Coaching</a>
                            <a class="navbar-item">IT Dev.</a>
                            <a class="navbar-item">Bureatique</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link tr_link">
                            Réalisations
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">Graphic Design</a>
                            <a class="navbar-item">IT Dev.</a>
                            <a class="navbar-item">Témoignages</a>
                        </div>
                    </div>
                    <a class="navbar-item tr_link">Contact</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container has-text-centered has-text-weight-semibold">
            &copy; @DateTime.Now.Year - P2Lix Creative | <a class="f_link">A propos de P2Lix Creative</a>&nbsp; <a class="f_link">Services</a>&nbsp; <a class="f_link">Réalisations</a>&nbsp; <a class="f_link">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>