@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<section class="is-fluid is-primary">
    <figure class="image">
        <img src="~/img/pexels-andrea-piacquadio-3752835.jpg" />
    </figure>
</section>

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
